@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
.black-1-hex { color: #161616; }
.black-2-hex { color: #667145; }
.black-3-hex { color: #FFFFFF; }
.black-4-hex { color: #6D6059; }
.black-5-hex { color: #B1B5B8; }



body{
    background-color: black;
    font-family: 'Fjalla One', sans-serif;


}

.slider-container {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  
  .slider-wrapper {
    position: absolute;
    width: 400%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
  }
  
  .slider-wrapper img {
    width: 25%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .slider-control-prev {
    left: 0;
  }
  
  .slider-control-next {
    right: 0;
  }
  
  

span#burguer{
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #667145;
}

span#burguer:hover{
    background-color: white;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.387);

}

menu{
    display: none; /* desaparece e aparece o menu*/
    width: 100vw;
    margin: auto;
    

    
}
menu > ul{
    list-style-type: none;
    
}

menu > ul > li > a{
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #6D6059;
    border: 1px solid rgba(255, 255, 255, 0.139);
    
    
}

menu > ul > li >a:hover{
    background-color: #B1B5B8;
    color: black;
}


main > h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
    margin: 40px 0px 40px 0px;
}

main>h2{
    font-family: 'Fjalla One', sans-serif ;
    color: #667145;
    margin: auto;
    text-align: center;
    line-height: 40px;
}

div#mulhertreiner{
    background: url(../imagens/pexels-jonathan-borba-3076514.jpg) no-repeat bottom;
    background-size: contain;
   
    width: 100%;
    height: 340px;
    margin: auto;
    margin-top: 80px;
}

article > h2{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background-color: #667145;
    padding: 15px;
}

article > div > ol {
    color: #6D6059;
    font-family: 'Fjalla One', sans-serif;
    line-height: 40px;
    padding: 40px;
    
}

article > h2#tag:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

div#fotopersonal{
    background: url(../imagens/pexels-cliff-booth-4058411.jpg) no-repeat center bottom;
    background-size: contain;
    width: 100%;
    height: 330px;
    margin: auto;
    margin-top: 40px;
}

p#parabene{
    font-size: 0.9em;
    color: #B1B5B8;
    text-align: justify;
}

article > h2#ajuda:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

div#beneficios{
    display: none;
}

div#beneficios02{
    display: none;
}

div#textoav{
    display: none;
}


div#avfisica{
    background: url(../imagens/avaliacaofisica.jpg) no-repeat center bottom;
    background-size: contain;
    width: 100%;
    height: 330px;
    margin: auto;
    margin-top: 40px;
}

div#textoav>p{
    font-size: 0.9em;
    color: #B1B5B8;
    font-family: 'Fjalla One', sans-serif;
    line-height: 35px;
    padding: 40px 40px 0px 40px;
    text-indent: 20px;
    text-align: justify;
    
}

article > h2#avfisicah2:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

h2#imc{
    margin-top: 60px;
    font-size: 2em;
}

h2#imcresultado{
    color: #B1B5B8;
    margin-top: 40px;
    font-size: 2em;
}
.container {
    margin: 0 auto;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  p {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }



  /* efeito botao clique aqui*/
  div#botao{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .button {
    
    background-color: darkorange; /* Cor de fundo do botão */
    border: none;
    margin-top: 50px;
    color: white; /* Cor do texto do botão */
    padding: 15px 32px; /* Espaçamento interno do botão */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    animation: bounce 1s infinite;
  }
  a#click{
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    color: white;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  .eu{
    font-family: 'Fjalla One', sans-serif;
        color: white;
        background-color: #667145;
        padding: 30px;
        text-align: center;
  }
  .eufoto{
    background: url(../imagens/fotojason.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 190px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 6px 5px 7px rgb(255 255 255 / 21%);
  }

  .sobre{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 1em;
    line-height: 30px;
  }

  footer{
    background-color: rgb(52, 52, 52);
    width: 100%;
    height: 200px;
    margin-top: 150px;
  }

  h3{
    text-align: center;
    padding-top: 30px;
    color: #B1B5B8;
    padding-bottom: 30px;
  }

  .marca{
    background: url(../imagens/marca300px.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 193px;
    height: 110px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 6px 5px 7px rgb(255 255 255 / 21%);

  }

  .termo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(52, 52, 52);
    color: #B1B5B8;
    margin: 0px;
    padding: 15px;
    
  }

  .copy{
    color: #B1B5B8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    padding: 30px;
    background-color: rgb(52, 52, 52);
    margin: 0px;
  }


