@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

div.logo{
    width: 100%;
    padding: 20px;
    background: url(../imagens/marca300px.png) no-repeat white center;
    height: 180px;
    color: white;
    margin: auto;
    margin-left: -20px;
}
span#burguer{
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.387);

}

menu{
    display: none; /* desaparece e aparece o menu*/
    width: 100vw;
    margin: auto;
    

    
}
menu > ul{
    list-style-type: none;
    
}

menu > ul > li > a{
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: gray;
    border: 2px solid rgba(128, 128, 128, 0.387);
    
    
}

menu > ul > li >a:hover{
    background-color: white;
    color: black;
}


main > h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
}
div#halter{
    background: url(../imagens/fundomainpequeno.png) no-repeat;
    background-size: cover;
    width: 80%;
    height: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 4px 10px rgba(255, 255, 255, 0.29);
    
}

div#halter > p{
    
    width: 70vw;
    color: white;
    margin: auto;
    padding: 20px;
    text-indent: 20px;
    text-align: right;
    padding-top: 40px;
    font-family: 'Fjalla One', sans-serif;
    line-height: 30px;
    text-shadow: 5px 4px 5px black;
    
    
}
