@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

div.logo{
    width: 100vw;
    background: url(../imagens/marca300px.png) no-repeat white center;
    height: 180px;
    color: white;
    margin: auto;
}

menu{
    display: block;
    width: 100vw;
    margin: auto;
    

    
}
menu > ul > li{
    list-style-type: none;
    
}

menu > ul > li > a{
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: gray;
    
    
}

menu > ul > li >a:hover{
    background-color: white;
    color: black;
}


main > h1{
    color: white;
}

main > p{
    width: 70vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    text-indent: 20px;
    text-align: justify;
    border-radius: 20px 0px;
}
